/**
 * @name MyTheme Purple
 * @description Deep purple preset.
 */

@import url('https://raw.githubusercontent.com/depolaries/Theme-Vencord/main/Base.css');

:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --tm-accent-rgb: 145, 92, 210;
  --tm-background-rgb: 0, 0, 0;
  --tm-background-alpha: 0;
  --tm-text-rgb: 220, 213, 230;
  --tm-background-image: linear-gradient(rgba(72, 20, 130, 0.38), rgba(6, 0, 20, 0.72)), url('https://i.ibb.co/xKWfhcTR/30c8cb7b1f5cc25a37a2ed2c7b14747a.jpg');
  --tm-background-brightness: 77%;
  --tm-background-blur: 7px;
  --tm-home-icon: url('https://i.ibb.co/HLbztpPK/purple.jpg');
}
