/**
 * @name MyTheme Black
 * @description Neutral black preset.
 */

@import url('https://raw.githubusercontent.com/depolaries/Theme-Vencord/main/Base.css');

:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --tm-accent-rgb: 132, 136, 148;
  --tm-background-rgb: 0, 0, 0;
  --tm-background-alpha: 0;
  --tm-text-rgb: 214, 216, 222;
  --tm-background-image: url('https://i.ibb.co/B5n1zTT4/171acf3e6ba68f9fd5a88c61fde477b6.jpg');
  --tm-background-brightness: 76%;
  --tm-background-blur: 7px;
  --tm-home-icon: url('https://i.ibb.co/7xDHQpVX/dark.jpg');
}
