/**
 * @name MyTheme Red
 * @description Deep red preset with a softer accent.
 */

@import url('https://raw.githubusercontent.com/depolaries/Theme-Vencord/main/Base.css');

:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --tm-accent-rgb: 215, 52, 62;
  --tm-background-rgb: 0, 0, 0;
  --tm-background-alpha: 0;
  --tm-text-rgb: 228, 214, 216;
  --tm-background-image: linear-gradient(rgba(176, 0, 20, 0.28), rgba(18, 0, 0, 0.66)), url('https://i.ibb.co/VcsMhCS7/3be14a299505005569097e9746a482fd.jpg');
  --tm-background-brightness: 78%;
  --tm-background-blur: 7px;
  --tm-home-icon: url('https://i.ibb.co/XrnbsLmV/red.jpg');
}
