/**
 * @name MyTheme Green
 * @description Deep green preset.
 */

@import url('https://raw.githubusercontent.com/depolaries/Theme-Vencord/main/Base.css');

:root,
.visual-refresh,
.visual-refresh.theme-dark {
  --tm-accent-rgb: 42, 168, 103;
  --tm-background-rgb: 0, 0, 0;
  --tm-background-alpha: 0;
  --tm-text-rgb: 207, 221, 213;
  --tm-background-image: linear-gradient(rgba(0, 75, 42, 0.38), rgba(0, 12, 8, 0.72)), url('https://i.ibb.co/gbkL52TV/af15f19f87111402a3ae64614cedc5dd.jpg');
  --tm-background-brightness: 76%;
  --tm-background-blur: 7px;
  --tm-home-icon: url('https://i.ibb.co/WWKqkbVM/green.jpg');
}
